@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Manrope', sans-serif;
}

@layer components {
  .active {
    @apply bg-gradient-to-r from-slate-500/10 to-slate-500/20   border-l-4 border-l-slate-500/50 rounded-tr-full rounded-br-full;
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.w-calc {
  width: calc(100% - 240px);
}

@media (max-width: 768px) {
  .w-calc {
    width: 100%;
  }
}
